<!DOCTYPE html>
<html>
  <head>
    <title>Teste com a turma do Itau</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Um site de teste com alunos</h1>
    <h1>Um site de teste com alunos</h1>
    <div style="display: flex;">
      <div style="width: 50%; background-color: yellow;padding: 30px;"> Uma cor amarela</div>
      <div style="width: 50%; background-color: blue;color:azure; padding: 30px;"> Uma cor amarela</div>
    </div>
    <p>Welcome to <%= title %></p>
  </body>
</html>
