<!--Abrir a pagigna, deve digitar html:5-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gama Academy</title>
    <!--criando arquivo de estilos-->

    <!--Como fazer a chamada de uma biblioteca em CSS-->

    <link rel="stylesheet" href="../css/estilos.css">

    

</head>

<body>

    <table border="0" width="100%" class="menu">
        <tr>
            <td align="center"><img src="../imagens/LOGO.png" width="200" height="40"></td>
            <td>QUEM SOMOS</td>
            <td>CURSOS ONLINE</td>
            <td>PARA EMPRESAS</td>
            <td><a href="../html/contato.html">CONTATO</a></td>
            <td>CONTEÚDOS</td>
        </tr>

    </table>


    <!--criando uma tabela para a página-->
    <table border="0" cellpadding="5" cellspacing="2" width="100%">
        <!--<tr> permite criar linhas-->
        <tr>
            <!--<td> permite criar coluna-->
            <td align="center">
                <img src="../imagens/pessoas.png">
                <!--Carregando a imagem-->
            </td>

            <td>
                <!--Inserir título-->
                <h1 class="titulo">ISTO NÃO É<br> UMA ESCOLA</h1>
                <!--h1 significa o tamanho do título precisa abrir e fechar, H1 é maior e vai diminuindo exemplo abaixo-->
                <!--<h2>ISTO NÃO É UMA ESCOLA</h2>
                            <h3>ISTO NÃO É UMA ESCOLA</h3>
                            <h4>ISTO NÃO É UMA ESCOLA</h4>
                            <h5>ISTO NÃO É UMA ESCOLA</h5>
                            <h6>ISTO NÃO É UMA ESCOLA</h6>
                        Uso do <br> permite quebrar a linha.
                        -->
                <!--Inserindo paragrafos-->
                <p>Esse lema nos trouxe até aqui!<br>
                    Somos diferentes e visionários.</p>
                <!--<b> deixa o texto em -->
                <p>Tão inexplicáveis que <b>era mais simples dizer o que não éramos</b></p>
                <!--<br> quebra de linha-->
                <p>Marca inovadora e questionadora por essência, questionou a si mesmo <br>
                    sobre <b>como se reinventar </b>em um momento de <strike>crise</strike> oportunidade para <br>
                    chegar ainda mais perto do seu objetivo de impactar 1 milhão de vidas.</p>


                <p class="msn">Não éramos uma escola, éramos uma experiência diferenciada de aprendizagem:<br>
                    “ menos conversinha e mais conversão! ”</p>

                <!--inserindo botão play na página utilizar -->
                <!-- <a href> - Permite criar um link com uma palavra ou imagen-->
                <!--targe="blank" permite criar uma nova aba no navegador-->
                   <!--     <a href="https://www.youtube.com/watch?v=YmfBy9mihL0" target="_blank"><img src="../imagens/play.png"
                            width="40" height="40"> </a>
                    -->

                    <!-- inserindo componente de vídeo-->
                    <video controls="autoplay="true" width="400" height="300">
                        <source src="../videos/gama.mp4">
                    </video>
                    
            </td>

        </tr>
    </table>





</body>

</html>