<!DOCTYPE html>
<html>
  <head>
    <title>Teste com a turma do Itau</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Um site de teste com alunos</h1>
    <h1></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
