
    p{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:14px;
      color: green;  
    }

    body{
        background-color: rgb(208, 250, 208);
    }

    .menu{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:14px;
        font-weight: bold;
        color:rgb(3, 8, 58);
    }

    .titulo{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:18px;
        font-weight: bold;
        color:black;
    }

    .msn{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
            color: rgb(128, 124, 124);
    }

    .campo_nome{
        position: relative;
        /*left: 125px;
        width: 260px;*/
        color:red;
        background-color:yellow;    
    }

    #formulario_contato{
        background-color: rgb(189, 198, 206);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
    }

    .container{
        border:3px solid brown;
        width: "100%";

    }

    .div1{
        background-color: yellow;
    }

    .div2{
        background-color: green;
    }

    .div3{
        background-color: blue;
    }

    .div4{
        background-color: red;
    }
